# dependencies
/node_modules
/node_modules/.*

# production build
/dist

# environment variables
.env
.env.local
.env.*.local

chunk_*
data/chunk_*
**/chunk_*

# Vite cache
.vite

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac system files
.AppleDouble
.LSOverride
